<div class="formModalContainer">
  <div class="formModalTitle">
    <h2>Editar Usuario</h2>
  </div>
  <form [formGroup]="formModalEdit" (ngSubmit)="editUserSubmit()">
    <div class="inputGroup">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Digite Nome "
          formControlName="first_name"
          type="text"
          required
        />
      </mat-form-field>
    </div>
    <div class="inputGroup">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input
          matInput
          placeholder="Digite Sobrenome "
          formControlName="last_name"
          required
          type="text"
        />
      </mat-form-field>
    </div>

    <div class="inputGroup">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Avatar</mat-label>
        <input
          matInput
          placeholder="Digite link para avatar "
          formControlName="avatar"
          required
          type="text"
        />
      </mat-form-field>
    </div>
    <div class="inputGroup">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Digite email "
          formControlName="email"
          required
          type="text"
        />
      </mat-form-field>
    </div>

    <div class="formButtonsModal">
      <button
        mat-flat-button
        color="primary"
        [disabled]="!formModalEdit.valid"
        type="submit"
      >
        Editar
      </button>
      <button mat-flat-button color="warn" type="button" (click)="closeModal()">
        Fechar
      </button>
    </div>
  </form>
</div>
